<ul class="list-none flex flex-col p-0 gap-5">
  <li *ngFor="let article of articles">
    <a class="flex flex-col p-5 no-underline gap-2" [routerLink]="article.url">
      <div class="flex flex-col md:flex-row md:items-center justify-between">
        <span class="mat-body-strong" [innerHTML]="article.title"></span>
        <small class="mat-body-small">
          {{ article.date | date: "MMMM d, y" }}
        </small>
      </div>
      <span
        *ngIf="article.elements[1].content as description"
        [innerText]="removeHrefs(description)"
      ></span>
    </a>
  </li>
</ul>
