@use "../../constants";

ngnr-start {
  @apply flex flex-col gap-12 mt-[-3rem];

  mat-tab-group {
    .mat-tab-header {
      position: sticky;
      top: constants.$neer-tab-bar-height + 1px;
      z-index: 8;

      .mat-tab-labels {
        @apply justify-center;

        .mat-tab-label {
          height: constants.$neer-tab-bar-height;
          @apply text-xs;

          &.mat-tab-label-active {
            opacity: 1;
          }

          &:not(:last-of-type) {
            border-right-width: 1px;
          }
        }
      }
    }

    .mat-tab-body-content {
      overflow: visible !important;
    }
  }

  mat-tree.neer-tree {
    @apply bg-transparent py-10;

    .example-tree-invisible {
      @apply hidden;
    }

    /* Padding for leaf nodes. */
    mat-tree-node:not(.mat-nested-tree-node) {
      @apply pl-6;
    }
    .mat-nested-tree-node div[role="group"] {
      @apply pl-5;
    }

    mat-icon {
      @apply flex;
    }

    .mat-tree-node {
      border-bottom-width: 1px;
    }
  }
}
