<!-- Planned articles -->
<h1>Planned articles</h1>
<ul>
  <li>
    Angular explained and version history
    <ul>
      <li>Components, Services, Directives, Pipes</li>
      <li>Preloading Strategy</li>
    </ul>
  </li>
  <li>Folder structure best practices</li>
  <li>Routing & guards</li>
  <li>Components, inputs/outputs and lifecycle hooks (change detection)</li>
  <li>Services, data management with some rxjs</li>
  <li>Pipes, pure function by default</li>
  <li>Directives, logic binding for html elements</li>
  <li>Observables, Subjects, state-management with rxjs</li>
  <li>Server-Side-Rendering (SSR) with Angular Universal</li>
  <li>Performance: Change Detection & angulars devtools plugin</li>
  <li>Unit and integration tests to improve maintainability</li>
  <li>@angular/animations api</li>
</ul>
