@use "sass:map";
@use "../../constants";
@use "@angular/material" as mat;

@mixin theme($theme) {
  $primary: map.get($theme, primary);
  $is-dark-theme: map.get($theme, is-dark);

  footer {
    background-color: if(
      $is-dark-theme,
      constants.$neer-font-color-3-light,
      constants.$neer-font-color-3-dark
    );

    small {
      color: if(
        $is-dark-theme,
        constants.$neer-font-color-3-dark,
        constants.$neer-font-color-3-light
      );
    }
  }
}
