@use "../app-theme";
@use "../material";
@use "@angular/material" as mat;

$ng-neer-app-theme: mat.define-dark-theme(
  (
    color: (
      primary: material.$ng-neer-app-primary,
      accent: material.$ng-neer-app-accent,
      warn: material.$ng-neer-app-warn,
    ),
  )
);

@include mat.all-legacy-component-themes($ng-neer-app-theme);
@include app-theme.theme($ng-neer-app-theme);

/* ngx highlightjs - Code Highlighting (https://github.com/highlightjs/highlight.js/tree/main/src/styles) */
@import "highlight.js/styles/stackoverflow-dark";
