@use "../../constants";

ngnr-landing {
  @apply flex flex-col gap-12 mt-[-3rem];

  .mat-tab-labels {
    @apply justify-center;

    .mat-tab-label {
      @apply h-[32px];

      &.mat-tab-label-active {
        opacity: 1;
      }

      &:not(:last-of-type) {
        border-right: 1px solid rgb(170, 170, 170);
      }
    }
  }

  .mat-tab-body-content {
    overflow: visible !important;
  }

  mat-tree.neer-tree {
    @apply bg-transparent py-10;

    .example-tree-invisible {
      display: none;
    }

    mat-icon {
      display: flex;
    }

    .mat-nested-tree-node div[role="group"] {
      padding-left: 20px;
    }

    /*
     * Padding for leaf nodes.
     * Leaf nodes need to have padding so as to align with other non-leaf nodes
     * under the same parent.
     */
    div[role="group"] > .mat-tree-node {
      padding-left: 20px;
    }
  }
}
