@use "sass:map";
@use "../../constants";
@use "@angular/material" as mat;

@mixin theme($theme) {
  $is-dark-theme: map.get($theme, is-dark);

  hr {
    background-color: if(
      $is-dark-theme,
      constants.$neer-font-color-3-light,
      constants.$neer-font-color-3-dark
    );
  }

  .mat-button-focus-overlay {
    background: lightgray;
  }

  mat-tab-group .mat-tab-labels {
    .mat-tab-label:not(:last-of-type) {
      border-right-color: if(
        $is-dark-theme,
        rgb(110, 110, 110),
        rgb(170, 170, 170)
      );
    }
  }
}
