<header [isLoading]="isLoading"></header>
<main
  class="content flex flex-col items-center w-full max-w-[960px] m-auto mt-0"
  role="main"
>
  <nav
    class="w-full mb-12 top-0"
    [class.opacity-0]="isLoading"
    mat-tab-nav-bar
    color="accent"
  >
    <a
      mat-tab-link
      *ngFor="let link of navLinks; index as i"
      [routerLink]="link.link"
      routerLinkActive
      #rla="routerLinkActive"
      [active]="i === activeLinkIndex"
    >
      {{ link.label }}
    </a>
  </nav>
  <section class="w-full">
    <router-outlet></router-outlet>
  </section>
</main>
<footer
  class="flex w-full px-5 mt-12 items-center justify-between min-h-[100px] relative"
></footer>
