<mat-tab-group>
  <mat-tab label="Start">
    <ngnr-tree
      *ngIf="start"
      [treeControl]="start.control"
      [dataSource]="start.data"
      [category]="RoadmapCategory.START"
    ></ngnr-tree>
  </mat-tab>
  <mat-tab label="Fundamentals">
    <ngnr-tree
      *ngIf="fundamentals"
      [treeControl]="fundamentals.control"
      [dataSource]="fundamentals.data"
      [category]="RoadmapCategory.FUNDAMENTALS"
    ></ngnr-tree>
  </mat-tab>
  <mat-tab label="Advanced">
    <ngnr-tree
      *ngIf="advanced"
      [treeControl]="advanced.control"
      [dataSource]="advanced.data"
      [category]="RoadmapCategory.ADVANCED"
    ></ngnr-tree>
  </mat-tab>
  <mat-tab label="Ecosystem">
    <ngnr-tree
      *ngIf="ecosystem"
      [treeControl]="ecosystem.control"
      [dataSource]="ecosystem.data"
      [category]="RoadmapCategory.ECOSYSTEM"
    ></ngnr-tree>
  </mat-tab>
</mat-tab-group>
