<!-- Upcoming articles -->
<h1>Upcoming articles</h1>
<ul>
  <li>
    Angular explained and version history
    <ul>
      <li>Components, Services, Directives, Pipes</li>
      <li>Preloading Strategy</li>
    </ul>
  </li>
  <li>Folder structure best practices</li>
  <li>Routing & guards</li>
  <li>Components, inputs/outputs and lifecycle hooks</li>
  <li>Services, data management with some rxjs</li>
  <li>Pipes, pure function by default, for recurring tasks</li>
  <li>Directives, logic binding for html elements</li>
  <li>Observables, Subjects, state-management with rxjs</li>
  <li>Server-Side-Rendering (SSR) with Angular Universal</li>
  <li>Performance: Change Detection & angulars devtools plugin</li>
  <li>Unit and integration tests to improve maintainability</li>
</ul>

<hr class="horizontal" />

<ul class="list-none flex flex-col p-0 gap-5">
  <li *ngFor="let article of articles">
    <a class="flex flex-col p-5 no-underline gap-2" [routerLink]="article.url">
      <div class="flex flex-col md:flex-row md:items-center justify-between">
        <span class="mat-body-strong" [innerHTML]="article.title"></span>
        <small class="mat-body-small">
          {{ article.date | date: "MMMM d, y" }}
        </small>
      </div>
      <span
        *ngIf="article.elements[0].content as description"
        [innerText]="removeHrefs(description)"
      ></span>
    </a>
  </li>
</ul>
