<h1 class="mat-headline title">The journey of Angular</h1>
<p class="mat-body">
  <a href="https://angular.io/" target="_blank">Angular</a> is a TypeScript-based frontend
  framework maintained by Google. It provides a standard structure with core and
  optional functionality to build client-side web applications. Since version 4
  (2017) new major versions releases every 6 months.
</p>

<div class="flex items-center my-5 gap-3">
  <button class="h-fit shrink-0" mat-flat-button (click)="reverseList()">
    <small class="flex">{{ orderLabel }}</small>
  </button>

  <hr class="horizontal" />
</div>

<ol class="list-none pl-0">
  <ng-container *ngFor="let version of versions$ | async; last as isLast">
    <li>
      <div>
        <h2 class="mat-title">{{ version.title }}</h2>
        <small class="mat-body-small">
          {{ (version.date | date: "MMMM d, y") ?? "skipped" }}
        </small>
      </div>

      <p class="py-3" [innerHTML]="version.description"></p>
      <a [href]="version.link" *ngIf="version.link">{{ version.link }}</a>

      <ul>
        <li *ngFor="let item of version.list" [innerHTML]="item"></li>
      </ul>
    </li>

    <hr class="horizontal" *ngIf="!isLast" />
  </ng-container>
</ol>

<hr class="horizontal" />

<div>
  <p class="mb-20">References</p>
  <ul class="mt-2">
    <li>
      Wikipedia: Angular | 30.07.2022 |
      <a href="https://de.wikipedia.org/wiki/Angular" target="_blank">
        https://de.wikipedia.org/wiki/Angular
      </a>
    </li>
    <li>
      Angular History | 30.07.2022 |
      <a href="https://www.ngdevelop.tech/angular/history/" target="_blank"
        >https://www.ngdevelop.tech/angular/history/</a
      >
    </li>
    <li>
      Version 6 of Angular Now Available | 30.07.2022 |
      <a
        href="https://blog.angular.io/version-6-of-angular-now-available-cc56b0efa7a4"
        target="_blank"
      >
        https://blog.angular.io/version-6-of-angular-now-available-cc56b0efa7a4
      </a>
    </li>
    <li>
      Version 7 of Angular — CLI Prompts, Virtual Scroll, Drag and Drop and more
      | 30.07.2022 |
      <a
        href="https://blog.angular.io/version-7-of-angular-cli-prompts-virtual-scroll-drag-and-drop-and-more-c594e22e7b8c"
        target="_blank"
      >
        https://blog.angular.io/version-7-of-angular-cli-prompts-virtual-scroll-drag-and-drop-and-more-c594e22e7b8c
      </a>
    </li>
    <li>
      Version 8 of Angular — Smaller bundles, CLI APIs, and alignment with the
      ecosystem | 30.07.2022 |
      <a
        href="https://blog.angular.io/version-8-of-angular-smaller-bundles-cli-apis-and-alignment-with-the-ecosystem-af0261112a27"
        target="_blank"
      >
        https://blog.angular.io/version-8-of-angular-smaller-bundles-cli-apis-and-alignment-with-the-ecosystem-af0261112a27
      </a>
    </li>
    <li>
      Version 9 of Angular Now Available — Project Ivy has arrived! | 30.07.2022
      |
      <a
        href="https://blog.angular.io/version-9-of-angular-now-available-project-ivy-has-arrived-23c97b63cfa3"
        target="_blank"
      >
        https://blog.angular.io/version-9-of-angular-now-available-project-ivy-has-arrived-23c97b63cfa3
      </a>
    </li>
    <li>
      Version 10 of Angular Now Available | 30.07.2022 |
      <a
        href="https://blog.angular.io/version-10-of-angular-now-available-78960babd41"
        target="_blank"
      >
        https://blog.angular.io/version-10-of-angular-now-available-78960babd41
      </a>
    </li>
    <li>
      Version 11 of Angular Now Available | 30.07.2022 |
      <a
        href="https://blog.angular.io/version-11-of-angular-now-available-74721b7952f7"
        target="_blank"
      >
        https://blog.angular.io/version-11-of-angular-now-available-74721b7952f7
      </a>
    </li>
  </ul>
</div>
